<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  </head>
<body>
    <div align = center class="container">
       <form action="#" th:action="@{/register}" th:object="${user}" method="post">
       	<h1>Authentication</h1>
    	<p>Username: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>
        <p><input type="submit" name="login" value="Login" /><input type="submit" name="register" value="Register" /> </p>
         <div align = "center" style="background-color:lightblue">
  				 <h4>Validation</h4>
 				 <p th:text="${valid}" /></p>
		</div> 
    </form>
   
    </div>
</body>
</html>