<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RegUser</title>
</head>
<body>
 
    <div align = "center"  style="background-color:lightblue">
  				 <h4>Validation</h4>
 				 <p th:text="${valid}" /></p>
		</div> 
	<!-- 	<form action = "#" name = "test" th:action="@{/regUser}"  method="post">
	    <select name ="search" id ="search" th:selected ="${selectedOption}">
    	<option th:each="option : ${options}" th:value="${option}" th:text="${option}" ></option>
    	</select>
		<p><input type="submit" name="test" value="Test" /> </p>	
		
		</form>-->
   		<div align = "right">
 				 <form action = "#" th:action="@{/regUser}" method = "post">
 				 <p><input type="submit" name="logout" value="Log Out" /> </p>
 				 </form>
 		</div>
   		
   		<h3>Search</h3>
   		<form action="#" name="search" th:action="@{/regUser/showBooks}"  method="post">
    		<p>SearchBy: <input type="text" name ="field" id="field" /></p>
    		<p>Value: <input type="text" name ="value" id="value" /></p>
       		<p><input type="submit" name="search" value="Search" /> </p>	
		</form>
		<br>
		  <form action="#" name="searchAll" th:action="@{/regUser/showBooks}"  method="post">
		  <p>Title: <input type="text" name ="title" id="title" /></p>
		  <p>Author: <input type="text" name ="author" id="author" /></p>
		  <p>Genre: <input type="text" name ="genre" id="genre" /></p>
        <p><input type="submit" name="searchAll" value="SearchAll" /> </p>	
		</form>
		 
		<h3>Sell</h3>
		<form action="#" name="sell" th:action="@{/regUser}"  th:object="${saleDto}"  method="post">
       	<p>Id: <input type="text" th:field="*{bookId}" /> Quantity: <input type="text" th:field="*{quantity}"/></p>
        <p><input type="submit" name="sell" value="Sell" /> </p>	
		</form>
		
		
		
</body>
</html>